<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_erp_status" type="Aus\Task5\Model\Plugin\OrderGet"/>
        <plugin name="save_erp_status" type="Aus\Task5\Model\Plugin\OrderSave"/>
    </type>
    <preference for="Magento\Sales\Api\Data\OrderInterface" type="Aus\Task5\Model\Order" />
</config>
